name: skyybrew.xyz CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 19
      uses: actions/setup-node@v2
      with:
        node-version: 19.x
    - run: npm i